.block-blueSecondary {
  background: #0d2134;
  color: white;
}

.btn-rounded {
  border-radius: 30px;
}

.btn-big {
  padding: 18px 60px;
  font-size: 14px;
  line-height: 25px;
  font-family: "proxima-nova-semibold";
}

.btn-full-width {
  width: 85%;
}


.request-feature-text {
  font-size: 22px;
  color: #464c59;
  line-height: 30px;
  height: 150px;
}

.info-item-heading {
  height: 64px;
  margin: 10px 10px;
}

.info-item-body {
  margin: 10px 10px;
}

.info-item h2 {
  font-family: 'Dosis', Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 64px;
  margin: 0;
  padding-left: 70px;
}
.info-item-heading-icon {
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22%22%20height%3D%22%22%20viewBox%3D%220%200%2064%2064%22%20enable-background%3D%22new%200%200%2064%2064%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23C75C5C%22%20d%3D%22M64%2C32c0%2C17.673-14.327%2C32-32%2C32S0%2C49.673%2C0%2C32S14.327%2C0%2C32%2C0S64%2C14.327%2C64%2C32%22%2F%3E%3Cg%20opacity%3D%220.2%22%3E%3Cpath%20fill%3D%22%23231F20%22%20d%3D%22M52.872%2C28.063c-0.31-0.951-1.133-1.645-2.121-1.79l-11.327-1.645l-5.066-10.263c-0.444-0.899-1.356-1.466-2.358-1.466c-1.001%2C0-1.913%2C0.567-2.357%2C1.466l-5.065%2C10.263L13.25%2C26.273c-0.991%2C0.145-1.813%2C0.839-2.121%2C1.79c-0.31%2C0.951-0.052%2C1.995%2C0.665%2C2.694l8.197%2C7.989l-1.934%2C11.283c-0.168%2C0.985%2C0.236%2C1.981%2C1.046%2C2.569c0.455%2C0.334%2C0.996%2C0.502%2C1.543%2C0.502c0.418%2C0%2C0.838-0.099%2C1.222-0.302l10.131-5.327l10.132%2C5.327c0.384%2C0.203%2C0.805%2C0.302%2C1.223%2C0.302c0.544%2C0%2C1.088-0.168%2C1.545-0.502c0.81-0.588%2C1.214-1.584%2C1.046-2.569L44.01%2C38.746l8.197-7.989C52.922%2C30.06%2C53.18%2C29.014%2C52.872%2C28.063%22%2F%3E%3C%2Fg%3E%3Cpath%20fill%3D%22%23F5CF87%22%20d%3D%22M52.872%2C26.063c-0.31-0.951-1.133-1.645-2.121-1.79l-11.327-1.645l-5.066-10.263c-0.444-0.899-1.356-1.466-2.358-1.466c-1.001%2C0-1.913%2C0.567-2.357%2C1.466l-5.065%2C10.263L13.25%2C24.273c-0.991%2C0.145-1.813%2C0.839-2.121%2C1.79c-0.31%2C0.951-0.052%2C1.995%2C0.665%2C2.694l8.197%2C7.989l-1.934%2C11.283c-0.168%2C0.985%2C0.236%2C1.981%2C1.046%2C2.569c0.455%2C0.334%2C0.996%2C0.502%2C1.543%2C0.502c0.418%2C0%2C0.838-0.099%2C1.222-0.302l10.131-5.327l10.132%2C5.327c0.384%2C0.203%2C0.805%2C0.302%2C1.223%2C0.302c0.544%2C0%2C1.088-0.168%2C1.545-0.502c0.81-0.588%2C1.214-1.584%2C1.046-2.569L44.01%2C36.746l8.197-7.989C52.922%2C28.06%2C53.18%2C27.014%2C52.872%2C26.063%22%2F%3E%3C%2Fsvg%3E") no-repeat top left;
}

.info-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.gender-error {
  border: 2px solid #e74c3c;
}

.divider-vertical {
  height: 40px;
  margin: 0 9px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #ffffff;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #F5F5F5;
  background-image: url('/img/squairy_light.png');
}
.dropdown-menu {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

.login-alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.login-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.fly-in-from-bottom {
  -webkit-user-select: none;
  -webkit-animation: fly-in-from-bottom .5s ease both;
  -webkit-transform-origin: top left;
}

@-webkit-keyframes fly-in-from-bottom {
  from {
    -webkit-transform: translateY(30rem);
    opacity:0;
  }
}

.appointment-card-title {
  font-size: 18px;
  color: #333;
  margin-top: 0;
  text-align: center;
}

.appointment-card {
  display: block;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 15px;
  color: #666666;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  min-height: 220px;
}
.appointment-card:hover {
  border-color: #aaaaaa;
  background-color: #f3f3f3;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-menu li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #555;
  white-space: nowrap
}
.dropdown-menu li>a:hover,
.dropdown-menu li>a:focus {
  text-decoration: none;
  color: #272727;
  background-color: #f5f5f5;
  cursor: pointer;
}

.dropdown-menu .active>a,
.dropdown-menu .active>a:hover,
.dropdown-menu .active>a:focus {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #5d8fc2;
}
.dropdown-menu .disabled>a,
.dropdown-menu .disabled>a:hover,
.dropdown-menu .disabled>a:focus {
  cursor: pointer;
  color: #999
}
.dropdown-menu .disabled>a:hover,
.dropdown-menu .disabled>a:focus {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed
}
.open .dropdown-menu {
  display: block
}

.dropdown-menu {
  font-size: 13px
}
.dropdown-menu li>a {
  padding-top: 5px;
  padding-bottom: 5px
}

.bg-danger {
  background-color: #dd5826
}

.widget {
  position: relative;
  margin-bottom: 30px;
  padding: 15px 20px;
  background: #fff;
  border-radius: 3px
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #7c7c7c;
  border: 0;
  border-bottom: 1px solid #e5e5e5
}

.form-control:focus {
  border-color: #4d90fe;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(77, 144, 254, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(77, 144, 254, 0.6)
}

.nav-bd-danger {
  background-color: #dd5826;
}
