<div class="row">
  <div class="col-sm-offset-3 col-sm-6 well">
    <div class="row">
      <div class="col-md-6">
        <h5>{{kid.firstName}} {{kid.lastName}}</h5>
      </div>
      <div class="col-md-3" style="margin-top:7px">
        <button class="btn btn-sm btn-info" ng-click="view(kid)">View</button>
      </div>
      <div class="col-md-3" style="margin-top:7px">
        <button class="btn btn-sm btn-danger" ng-click="deleteKid(kid)">Delete</button>
      </div>
    </div>
  </div>
</div>