<!doctype html>
<head>
  <base href="/">
  <title>DrApp</title>
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./app.css">
  <link rel="stylesheet" href="./vendor/pnotify.custom.min.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="passwordRecoveryApp">
<div class="navbar navbar-default navbar-fixed-top"></div>

<div class="row" style="margin-top: 15px">
  <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <div class="form-group">
      <h2 class="text-center">Password Recovery</h2>
      <hr>
      <form name="recoveryForm" ng-controller="passwordRecoveryCtrl">

        <div>
          <alert ng-show="error" type="danger">Oops! There was an error changing your password.</alert>
        </div>

        <div class="login-error" style="width:100%" ng-show="samePasswordError">
          <div class="login-alert login-alert-danger" role="alert">
            Passwords do not match.
          </div>
        </div>
        <div class="form-group">
          <input placeholder="New Password" class="form-control" type="password" autofocus="autofocus" name="password" ng-model="password" required>
        </div>
        <div class="form-group">
          <input placeholder="New Password Again" class="form-control" type="password" name="passwordRepeat" ng-model="passwordRepeat" required>
        </div>

        <div style="margin-top:10px">
          <button class="btn-primary btn pull-right" type="button" ng-disabled="recoveryForm.$invalid" ng-click="submit()">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!------------ Script Includes ----------------->
<script src="./bower_components/jquery/dist/jquery.js"></script>
<script src="./bower_components/underscore/underscore.js"></script>
<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="./bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
<script src="./vendor/pnotify.custom.min.js"></script>
<script src="./bower_components/angular-pnotify/src/angular-pnotify.js"></script>

<script>
  var app = angular.module('passwordRecoveryApp', ['ui.bootstrap', 'ngAnimate']);

  app.config(function($locationProvider) {
    $locationProvider.html5Mode(true);
  });

  app.controller("passwordRecoveryCtrl", ['$scope', '$http', '$location', function($scope, $http, $location) {
    $scope.password = null;
    $scope.passwordRepeat = null;
    $scope.samePasswordError = false;
    $scope.successfullyChanged = false;

    $scope.submit = function() {
      if ($scope.recoveryForm.$invalid) { return; }
      if ($scope.password !== $scope.passwordRepeat) {
        $scope.samePasswordError = true;
        return;
      } else {
        $scope.samePasswordError = false;
      }
      var data = {
        pass: $scope.password,
        passAgain: $scope.passwordRepeat,
        code: $location.search().code
      };

      $http.post('/recover', data)
        .success(function(data, status, headers, config) {
          $scope.recoveryForm.$setPristine();
          $scope.password = null;
          $scope.passwordRepeat = null;
          $scope.error = false;
          window.location.href = window.location.origin;
        })
        .error(function(data, status, headers, config) {
          $scope.recoveryForm.$setPristine();
          $scope.password = null;
          $scope.passwordRepeat = null;
          $scope.error = true;
        });
    }
  }]);
</script>

</body>
</html>