<div class="navbar navbar-default navbar-fixed-top"></div>

<div class="row" style="margin-top: 15px">
  <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <div class="form-group">
      <h2 class="text-center">Password Recovery</h2>
      <hr>
      <form name="passwordRecoveryForm">
        <div class="login-error" style="width:100%" ng-show="samePasswordError">
          <div class="login-alert login-alert-danger" role="alert">
            Passwords do not match.
          </div>
        </div>
        <div class="form-group">
          <input placeholder="New Password" class="form-control" type="password" autofocus="autofocus" name="password" ng-model="password" required>
        </div>
        <div class="form-group">
          <input placeholder="New Password Again" class="form-control" type="password" name="passwordRepeat" ng-model="passwordRepeat" required>
        </div>

        <div style="margin-top:10px">
          <button class="btn-primary btn pull-right" type="button" ng-disabled="recoveryForm.$invalid" ng-click="submit()">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>